{
    "name": "ydoc-demo",
    "common": { // 通用默认配置，包括主页配置等
        "title": "ydoc-demo", //page title
        "footer": "&copy; 2016 <a href=\"http://ued.qunar.com/ymfe/\">YMFE</a> Team. Build by <a href=\"http://ued.qunar.com/ydoc/\">ydoc</a>.", // 通用尾
        "home": "YMFE", // logo
        "homeUrl": "http://ued.qunar.com/ymfe/" // logourl
    },
    "mutiversion": { // 配置多版本切换，使用此功能需要切换到新的分支(此分支专门用于生成文档)，在新分支的配置文件中添加此配置项
        "docbranch": "doc", // 新分支(专门用于生成文档的分支)名称
        "versions":[{
            "name": "1.0", // 需要生成的版本名称
            "branch": "v0.0.1" // 需要生成的版本所在的git分支
        },{
            "name": "2.0",
            "branch": "v0.0.2"
        },{
            "name": "3.0",
            "branch": "v0.0.3"
        }] // 需要切换的版本信息
    },
    "pages": [{
        "name": "index", // Page Name 会根据他生成 html 文件，例: index.html
        "title": "首页", // Page Title
        "banner": { // Banner 配置
            "title": "ydoc-demo",
            "description": "Sample application of ydoc."
        },
        "content": "./README.md" // 内容(这里以markdown文件举例)
    }]
}
